finalProject/finalProject/pro.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:simpleType name="timeValueType">
		<xs:restriction base="xs:token">
			<xs:pattern value="\d{2}:\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="null">
		<xs:restriction base="xs:token">
			<xs:enumeration value="null"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="time">
		<xs:union memberTypes="timeValueType null"/>
	</xs:simpleType>
	<xs:element name="Attendance">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Date" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Emp" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Attend" type="time"/>
										<xs:element name="Leave" type="time"/>
									</xs:sequence>
									<xs:attribute name="id" type="xs:positiveInteger" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="today" type="xs:date" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
